.page-banner {
  position: relative;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-banner__bg-image {
  opacity: 0.33;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.page-banner__title{
    font-size: 5rem;
    margin-bottom: 0;
    text-align: center;
    color: black;
}

.page-banner__intro{
    font-size: 1.5rem;
    text-align: center;
}

.blog-content{
    margin-top: 4rem;
}